main.video {
  section.content {
    max-width: 700px;
    width: 100%;
    .content__head {
      h3,
      h2,
      p {
        text-align: center;
      }
      h3 {
        max-width: 400px;
        width: 100%;
        margin: 20px auto;
      }
      p {
        line-height: 1.5;
      }
    }
    .content__video {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
      .content__video-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 25px;
        div {
          text-transform: uppercase;
          font-weight: 700;
          display: flex;
          align-items: center;
          i {
            padding: 0 15px;
            font-size: 25px;
          }
        }
      }
    }
    .content__description {
      h3 {
        margin: 20px 0;
      }
    }
  }
}
