nav.nav-video {
  display: flex;
  justify-content: space-between;
  .nav-video__logo {
    padding-left: 20px;
    padding-top: 20px;
    img {
      max-width: 200px;
      width: 100%;
    }
  }
  .nav-video__log-out {
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      text-align: right;
      cursor: pointer;
      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
}
