main.video {
  section.sidebar {
    max-width: 330px;
    width: 100%;

    .video__menu {
      padding: 20px;
      .video__menu-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          text-transform: uppercase;
          font-size: 16px;
        }
        button {
          background-color: transparent;
          font-size: 30px;
          border: none;
          color: #143d74;
        }
      }
      .video__menu-list {
        width: 100%;
        a {
          width: 100%;
          display: block;
          padding-left: 20px;
          margin: 10px 0;
          color: #143d74;
          transition: all 0.3s linear;
          &.active {
            span {
            color: red;
            }
          }
          span {
            transition: all 0.3s linear;
          }
          &:hover {
            color: #032c63;
            span {
              border-bottom: 1px solid #032c63;
            }
          }
        }
      }
    }
  }
}
