.about {
  padding: 60px 20px 30px;
  margin-bottom: 60px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
    .about__text {
      h2,
      h3 {
            
        text-transform: uppercase;
      }
      .about__text-border {
      border-left: 5px solid #7596ad;
      padding-left: 20px;
      }
      h2 {
        font-size: 40px;
        color: #7596ad;
      }
      
      h3 {
        margin: 20px 0;
      }
      span {
        font-weight: 300;
        margin-left: 55px;
         font-size: 40px;
         color: #7596ad;
      }
      ul {
        padding: 15px 20px;
        list-style: none;
        li {
          margin-bottom: 8px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .about__calendar {
    padding: 30px 40px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .about__video {
    position: relative;
    top: -70px;
    left: 0;
  }
}
@media (min-width: 800px) {
  .about {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      .about__text {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding-left: 150px;
        div {
          margin-top: 7vw;
        }
      }
      .about__calendar {
        flex-basis: 500px;
        margin: 30px 150px 0 0;
        position: static;
        top: 0;
        left: 0;
        z-index: 2;
        display:block
      }
      .about__video {
        position: relative;
        top: -7vw;
        left: 300px;
        z-index: 2;
        max-width: 650px;
       

        img {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .about {
  padding: 60px 20px 30px;
  margin-bottom: 60px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
    .about__text {
      h2,
      h3 {
            
        text-transform: uppercase;
      }
      .about__text-border {
      border-left: 5px solid #7596ad;
      padding-left: 20px;
      }
      h2 {
        font-size: 40px;
        color: #7596ad;
      }
      
      h3 {
        margin: 20px 0;
      }
      span {
        font-weight: 300;
        margin-left: 55px;
         font-size: 40px;
         color: #7596ad;
      }
      ul {
        padding: 15px 20px;
        list-style: none;
        li {
          margin-bottom: 8px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .about__calendar {
    padding: 30px 40px;
    position: relative;
    top: 0;
    left: 0;
   display:none;
  }
  .about__video {
    position: relative;
    top: 20px;
    left: 0;
  }
}


}
