section.buy {
  margin: 0 auto 0;
  padding: 60px 20px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buy__left {
    img {
      width: 100%;
    }
  }

  .buy__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;

    .buy__right-title {
      border-left: 5px solid #7596ad;
      padding: 0;
      padding-left: 20px;
      margin: 0;
      color: #7596ad;

      h3 {
        font-size: 30px;
        font-weight: normal;
      }

      h2 {
        font-size: 35px;
      }
    }

    p.right-title-bottom {
      color: #7596ad;
      padding-left: 25px;
      margin-bottom: 20px;
      font-size: 26px;
    }

    .buy__right-list {
      margin-bottom: 20px;

      .list-element {
        display: flex;
        align-items: center;
        margin: 20px 0;
        max-width: 400px;
        width: 100%;

        .element-icon {
          padding-right: 30px;
        }

        .element-text {
          h3 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    .buy__price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-promo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h2 {
          font-size: 35px;

          small {
            font-size: 25px;
          }

          span {
            color: #7596ad;
            position: relative;

            &:before {
              content: " ";
              border-top: 5px solid #7596ad;
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;

            }
          }
        }
      }


    }

    .price-order {
     margin-left: 30px;
      .order-btn {
        background-color: #F28B50;
        color:#fff;
        padding: 10px 30px;
        border-radius: 5px;
        font-weight: 700;
        transition: all 0.3s linear;
        &:hover {
        background-color: #D06930;        
        }
      }
    }

  }

  .buy__next {
    width: 90%;
    border-bottom: 15px solid #143d74;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    div {
      border-left: 5px solid #7596ad;
      border-right: 5px solid #7596ad;
      padding: 0 10px;
      margin: 60px auto 30px;
      color: #7596ad;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .buy__right-text {
    text-align: right;

    h1 {
      font-weight: normal;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 1400px) {
  section.promo {
    margin: 0 auto 0;
    padding: 0 20px;

    .buy__right {
      margin-right: 0;
      margin-top: 50px;

      .buy__right-text {
        text-align: center;
        font-size: 16px;
      }
    }

    .buy__next {
      width: 90%;
      border-bottom: 15px solid #143d74;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 100px;

      div {
        border-left: 5px solid #7596ad;
        border-right: 5px solid #7596ad;
        padding: 0 10px;
        margin: 60px auto 30px;
        color: #7596ad;

        h1 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

}