section.cards {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;

  .cards__panel {
    background-color: #fff;
    padding: 40px 20px;
    margin: 10px 10px;
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .cards__panel-text {
      h2 {
        text-align: center;
        margin-bottom: 30px;
      }

      h3 {
        text-align: center;
        color: #7596ad;

        &:last-of-type {
          margin-bottom: 21px;
        }
      }
      p {
        font-size: 16px;
        &.cards__panel-border {
          margin-top: 10px;
          margin-bottom: 3px;
          span {
            background-color: #f28b50;
            font-size: 14px;
            padding: 3px 8px;
            color: #fff;
          }
        }
        &.cards__panel-padding {
          padding: 20px 0 0;
        }
      }
      ul {
        padding: 20px 0 0;
        p {
          margin-left: 25px;
        }
        li {
          padding-left: 25px;
          padding-right: 10px;
          list-style: none;
          line-height: 26px;
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }

    .cards__panel-image {
      img {
        width: 100%;
        padding: 50px;
      }
    }
  }
}
