section.fms {
    padding: 0 20px 30px;
    min-height: 730px;
    position: relative;
    margin-bottom: 100px;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .fms__text {
            max-width: 450px;
            margin-left: 120px;

            h2 {
                margin-bottom: 20px;
                font-size: 22px;

                span {
                    font-weight: normal;
                }
            }

            p {
                font-weight: 500;
            }
        }

        .fms__image-one {
            position: absolute;
            bottom: 0;
            right: 40vw;
            z-index: 2;

            img {
                max-width: 100%;
            }
        }

        .fms__image-two {
            margin-top: 42px;
            position: relative;
            z-index: 1;

            img {
                max-width: 100%;
            }
        }

        .fms__gray-box {
            position: absolute;
            height: 150px;
            left: 20vw;
            bottom: 200px;
            right: 0;
            background: #f6f6f6;
            z-index: 0;
        }
    }
}

@media (max-width: 600px) {
    section.fms {
        padding: 0 20px 30px;
        min-height: 730px;
        position: relative;
        margin-bottom: 100px;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .fms__text {
                margin-left: 0;
            }
        }
    }
}