section.order {
    background-color: #fff;
    padding: 80px 20px;

    .offer {
     
        color: #7596ad;
        text-align: center;
        border: 8px solid #7596ad;
        display:block;
        max-width: 400px;
        border-top: none;
        border-bottom: none;
        padding: 0 20px;
        margin: 0 auto;
      }

    .order__btn {
        display: block;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        background-color: #F2594B;
        padding: 7px 0;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 20px;
        a {
        transition: all 0.3s linear;
}
        &:hover {
            background-color: #207aba;
        }
    
    }
}

footer.footer {
    background-color: #143d74;
    padding: 60px 0 0;
    color: #fff;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .footer__left {
            h3 {
                margin-bottom: 10px;

                &:after {
                    content: " ";
                    padding-top: 10px;
                    border-bottom: 2px solid #7596ad;
                    display: table-cell;
                    width: 50px;
                }
            }

            .footer__left-logo {
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                img {
                    width: 200px;
                    margin: 0 auto;
                }
            }

            .footer__left-facebook {
                display: flex;
                flex-direction: column;


                a {
                    border-bottom: 1px solid #032c63;
                    margin: 5px 0;
                    padding: 5px 0 10px;

                    &:hover {
                        color: #7596ad;
                    }

                    color:#fff;
                    font-size: 30px;
                    display:flex;
                    transition: all 0.3s linear;
                    align-items: center;

                    img {
                        width: 33px;
                        margin: 0;
                        border-radius: 50%;
                    }

                    span {
                        font-size: 15px;
                        padding-left: 15px;
                    }
                }
            }

        }

        .footer__left-info {
            h3 {
                margin-bottom: 10px;

                &:after {
                    content: " ";
                    padding-top: 10px;
                    border-bottom: 2px solid #7596ad;
                    display: table-cell;
                    width: 50px;
                }
            }

            img {
                width: 220px;
                padding: 15px 0;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .footer__contact {
            h3 {
                margin-bottom: 10px;

                &:after {
                    content: " ";
                    padding-top: 10px;
                    border-bottom: 2px solid #7596ad;
                    display: table-cell;
                    width: 50px;
                }
            }



            p {
                text-align: left;
                font-size: 14px;
                line-height: 40px;

                i {
                    padding-right: 10px;
                }

                a {
                    color: #fff;

                    &:hover {
                        color: #7596ad;
                    }
                }

                b {
                    font-size: 18px;
                    line-height: 30px;

                    span {
                        font-family: 'Arial';
                    }
                }
            }

            img {
                max-width: 100px;
            }
        }

    }

    .footer__copyright {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        font-size: 15px;
        background-color: #032c63;
        margin-top: 30px;
        color: #7596ad;

    }
}

.AnyClassForContainer {
    position: fixed;
    right: -100px;
    bottom: 80px;
    transition: right 0.5s;
    cursor: pointer;

}

.AnyClassForTransition {
    right: 80px;
}

.go__up {
    position: fixed;
    background-color: #7596ad;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;

    i {
        font-size: 20px;
        line-height: 40px;

    }

}

@media (max-width: 600px) {



    footer.footer {
        background-color: #143d74;

        color: #fff;

        .container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding: 60px 50px 0;


            .footer__left {
                h3 {
                    margin-bottom: 10px;

                    &:after {
                        content: " ";
                        padding-top: 10px;
                        border-bottom: 2px solid #7596ad;
                        display: table-cell;
                        width: 50px;
                    }
                }



            }

            .footer__left-info {
                h3 {
                    margin-bottom: 10px;

                    &:after {
                        content: " ";
                        padding-top: 10px;
                        border-bottom: 2px solid #7596ad;
                        display: table-cell;
                        width: 50px;
                    }
                }

                img {
                    width: 220px;
                    padding: 15px 0;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .footer__contact {
                margin: 40px 0;

                h3 {
                    margin-bottom: 10px;

                    &:after {
                        content: " ";
                        padding-top: 10px;
                        border-bottom: 2px solid #7596ad;
                        display: table-cell;
                        width: 50px;
                    }
                }



                p {
                    text-align: left;
                    font-size: 14px;
                    line-height: 40px;

                    i {
                        padding-right: 10px;
                    }

                    a {
                        color: #fff;

                        &:hover {
                            color: #7596ad;
                        }
                    }

                    b {
                        font-size: 18px;
                        line-height: 30px;

                        span {
                            font-family: 'Arial';
                        }
                    }
                }

                img {
                    max-width: 100px;
                }
            }

        }

        .footer__copyright {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            font-size: 15px;
            background-color: #032c63;
            margin-top: 30px;
            color: #7596ad;

        }
    }

    .AnyClassForContainer {
        position: fixed;
        right: -100px;
        bottom: 80px;
        transition: right 0.5s;
        cursor: pointer;

    }

    .AnyClassForTransition {
        right: 80px;
    }

    .go__up {
        position: fixed;
        background-color: #7596ad;
        width: 40px;
        height: 40px;
        color: #fff;
        text-align: center;
        border-radius: 5px;

        i {
            font-size: 20px;
            line-height: 40px;

        }

    }
}