@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
    position: relative;

  a {
     padding-top: 80px;
      position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #143d74;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;

    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 48px;
      height: 48px;
      margin-left: -12px;
      border-left: 1px solid #143d74;
      border-bottom: 1px solid #143d74;
       transform: translate(-50%,50%);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb07 2s infinite;
      cursor:pointer;
      animation: sdb07 2s infinite;
      opacity: 0;
      box-sizing: border-box;

      &:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }

      &:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
      }

      &:nth-of-type(3) {
        top: 32px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
      }
    }
  }

  div.border-title {
    margin: 40px auto;
    border: 2px solid #143d74;
    padding: 10px;

    h2 {
      font-weight: 400;
      text-align: center;
    }
  }

  h1 {
    margin-top: 50px;
    font-size: 50px;
  }

  p {
    max-width: 480px;
    width: 100%;
    text-align: center;
  }
  .offer {
  
    color: #7596ad;
    text-align: center;
    border: 8px solid #7596ad;
    display:block;
    max-width: 400px;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;
  }

  a.btn {
    background-color: #143d74;
    margin: 30px auto;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  header {
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    
    h1 {
    font-size: 40px;
    margin-top:100px;
    }
    div.border-title {
      margin:30px auto;
    }
    a {
    
      padding: 0 0 80px;

     
      span {
        width: 30px;
        height:30px;
          position:absolute;
          bottom:0;
          bottom: 50px;
      
        
      }
    }
  }
}