@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  color: #143d74;
  font-size: 18px;
}
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
