.materials {
  padding: 0 20px 60px;
  position: relative;
  min-height: 850px;
  margin-bottom: 60px;
  margin-top:-100px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .materials__image {
      display:block;
      max-width: 500px;
      width: 100%;
      z-index: 1;

      img {
        width: 100%;
      }
    }

    .materials__text {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-left: 100px;

      h2 {
        font-weight: normal;
        text-align: right;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 6vw;

        span {
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      p {
        text-align: justify;
      }
    }

    .materials__material__vertical {
      position: absolute;
      top: 5vw;
      left: 31vw;
      z-index: 2;

      img {
        width: 100%;
      }
    }

    .materials__material__choice {
      position: absolute;
      top: 19vw;
      right: 25vw;
      background-color: #f3f3f3;
      z-index: 3;


      img {
        position: relative;
        top: 10px;
        left: 10px;
        width: 100%;
        border: 3px solid #f3f3f3;
      }
    }

    .materials__blue {
      background-color: #143d74;
      position: absolute;
      top: 28vw;
      left: 20vw;
      bottom: 3vw;
      right: 0;
      z-index: 0;
    }

    .materials__border {
      border: 3px solid #143d74;
      width: 500px;
      height: 400px;

      position: absolute;
      top: 37.5vh;
      left: 940px;
      z-index: -10;
    }

    .materials__gray {
      background-color: #f3f3f3;
      width: 400px;
      height: 400px;
      position: absolute;
      top: 4.5vw;
      left: 32.25vw;
    }
  }
}

@media (max-width: 600px) {
  .materials {
    padding: 0 20px;
    position: relative;
    min-height: auto;
    margin: 0;

    .container {
       .materials__image {
  display:none;

     
    }
      .materials__text {

        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0;

        h2 {
          text-align: left;
        }

      }

      .materials__material__vertical {
        position: static;
        max-width: 200px;
      }

      .materials__material__choice {
        position: relative;
        top:-100px;
        left: 80px;
       
        max-width: 250px;
      }

      .materials__blue {
        display: none;
      }

      .materials__gray {

        display: none;
      }
    }
  }
}