$break-width: 600px;

.sticky-outer-wrapper.active .nav {
  background-color: rgba(20, 61, 116, 0.7);
  color: #fff;
  ul {
    a {
      color: #fff;
    }
  }
}
.nav {
  transition: all 0.5s ease;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  z-index: 100;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;

  .brand {
    /* padding: 15px 60px; */
    /* line-height: 30px; */
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 0;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
  
    img {
      width: 130px;
     
    }
    a {
      color: #143d74;
      text-decoration: none;
    }

    /* padding-right: 60px; */
  }
  ul {
    margin: 0;

    float: right;
    li {
      text-align: center;
      display: inline-block;
      list-style: none;
      padding: 10px 25px 0;
      cursor: pointer;
      line-height: 50px;
      font-size: 16px;
      transition: all 0.3s linear;
      font-weight: 300;
      &:hover  {
          transform: scale(1.1);
     
        a {
     
        }
      }
      a {
        color: #143d74;
        text-decoration: none;
        &.bold {
          font-weight: 700;
        }
      }
    }
  }
}

.sticky .nav {
  position: fixed !important;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05); */
  background-color: #fff;
  line-height: 30px;
  .brand {
    line-height: 50px;
  }
  ul li {
    padding:0 25px;
   a {
    color: #143d74;
   }
  }
  ul li:hover a {
    color: #143d74;
    
  }
}

.pattern-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
.menu {
  display: none;
}

@media (max-width: $break-width) {
  .sticky .menu {
    top: 0;
    .hamburger {
      background: #6e7982;
      &::before,
      &::after {
        background: #6e7982;
      }
    }
  }

  .open.sticky .hamburger {
    background: transparent;
  }
  .open .hamburger {
    background-color: transparent;
    &::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg) translate(2px, -2px);
      -ms-transform: rotate(-45deg) translate(2px, -2px);
      transform: rotate(-45deg) translate(2px, -2px);
    }
  }
  .menu {
    display: block;
    outline: none;
    position: relative;
    line-height: 60px;
    float: left;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
    &:hover {
      opacity: 1;
    }
  }

  .hamburger,
  .hamburger::after,
  .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }
  .hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #143d74;
  }
  .hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #143d74;
  }
  .hamburger {
    background: #143d74;
    &::after {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
    }
    &::before {
      -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  //   .collapse nav {
  //     -webkit-transform: translateY(-100%);
  //     -ms-transform: translateY(-100%);
  //     transform: translateY(-100%);
  //   }
  .navbar {
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;
  }
  ul.navbar {
    -webkit-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
    /* transform: translateY(-200%); */
    li {
      line-height: calc((100vh - 60px) / 15);
      display: block;
    }
    padding-left: 0;
  }
  .open .navbar {
    -webkit-transform: translate(-35%, 0);
    -ms-transform: translate(-35%, 0);
    transform: translate(0, 0);
    background-color: #fff;
    width:100%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  }

  .nav .brand {
    display: block;
    text-align: center;
    float: none;
  }
  .sticky .brand {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  #nav {
    height: 50px;

    &.open {
      height: auto;
     
    }
    &.sticky {
      height: 60px;
    }
    .open.sticky {
 
    }
  }
}
