section.online {
  background-color: #143d74;
  padding: 30px 20px;
  margin: 30px auto 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
      max-width: 380px;
      width: 100%;
      color: #fff;

      &.online__one {
        min-height: 440px;
        margin-right: 20px;
        .online__one-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;

          h2 {
            font-size: 60px;
          }

          p {
            font-size: 26px;
            line-height: 26px;
            margin: 0 10px;
          }
        }
        .online__one-image {
          img {
            width: 100%;
          }
        }
        .online__one-text {
          margin-top: 20px;
          p {
            font-size: 20px;
          }
        }
      }
      &.online__two {
        min-height: 440px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 20px;
        .online__two-text {
          max-width: 350px;
          p {
            font-size: 20px;
          }
        }
        .online__two-image {
          img {
            width: 100%;
          }
        }
      }
      &.online__three {
        min-height: 440px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 20px;

        .online__three-text {
          max-width: 350px;
          text-align: right;
          margin: 0;

          p {
            font-size: 20px;
          }
        }
        .online__three-image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  section.online {

  padding: 30px 20px;
  margin: 30px auto 0;

  .container {

    div {
      max-width: 380px;
      width: 100%;
      color: #fff;

      &.online__one {
        min-height: auto;
    
        .online__one-title {       
          margin-bottom: 20px;      
      
        }
       
        .online__one-text {
          margin-top: 20px;
          margin-bottom: 60px;        
        }
      }
      &.online__two {
        min-height: auto;      
        margin: 0;
        .online__two-text {
         margin-bottom: 20px;        
        }
      
      }
      &.online__three {
        min-height: auto;     
        align-items: flex-start;
        margin-left: 0;

        .online__three-text {
          max-width: auto;
          text-align: left;
          margin: 60px 0 20px;
          order:0;         
        }
        .online__three-image {
          order:2;
         
        }
      }
    }
  }
}
}