section.promo {
  margin: 0 auto 0;
  padding: 0 20px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .promo__left {
  
    img {
      width: 100%;
    }
    .promo__left-price {
      color: #7596ad;
      max-width:250px;
      width:100%;
      position: absolute;
      top: 300px;
      left: 0;
      font-size: 22px;
      p{
        text-align: right;
        margin-top: 10px;
        span.price-color {
          background-color: #7596ad;
          padding: 0px 15px 8px;
          color: #fff;
          font-weight:700;
          font-size: 35px;
          small {
            font-size: 25px;
          }

          span {
            margin-left: 10px;
            position: relative;

            &:before {
              content: " ";
              border-top: 5px solid #fff;
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;

            }
        }
      }
      }
    }
  }

  .promo__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;

    .promo__right-title {
      border-left: 5px solid #7596ad;
      padding: 0;
      padding-left: 20px;
      margin: 0;
      margin-bottom: 20px;
      color: #7596ad;

      h3 {
        font-size: 30px;
        font-weight: normal;
      }

      h2 {
        font-size: 35px;
      }
    }

    .promo__right-list {
      margin-bottom: 20px;

      .list-element {
        display: flex;
        align-items: center;
        margin: 20px 0;

        .element-icon {
          padding-right: 30px;
        }

        .element-text {
          h3 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    .promo__right-text {
      text-align: right;

      h1 { 
        b {
        color:#F2594B;
        }
        font-weight: normal;
        margin-right: -60px;
      }
    }
  }

  .promo__next {
    width: 90%;
    border-bottom: 15px solid #143d74;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    div {
      border-left: 5px solid #7596ad;
      border-right: 5px solid #7596ad;
      padding: 0 10px;
      margin: 60px auto 30px;
      color: #7596ad;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .promo__right-text {
    text-align: right;

    h1 {
      font-weight: normal;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 1400px) {
  section.promo {
    margin: 0 auto 0;
    padding: 0 20px;    

    .promo__right {     
      margin-right: 0;
      margin-top: 50px;       

      .promo__right-text {
        text-align: center;
        font-size: 16px;     
      }
    }

    .promo__next {
      width: 90%;
      border-bottom: 15px solid #143d74;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 100px;

      div {
        border-left: 5px solid #7596ad;
        border-right: 5px solid #7596ad;
        padding: 0 10px;
        margin: 60px auto 30px;
        color: #7596ad;

        h1 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

}